{% extends 'base.html.twig' %}

{% block title %}Edit Locataire{% endblock %}

{% block body %}
    <div class="container my-5">
        <h2 class="text-center mt-5 mb-3">Modification de la liste des  Locataires</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_locataire_index') }}"> 
                    Afficher Tous Les Locataires
                </a>
            </div>
            <div class="card-body my-3">
                {% include 'locataire/_form.html.twig' with {'button_label': 'Update locataire', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
